{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}SEM OBS{% endblock %}
{% block page_content %}

{% endblock %}
{% block full_page_content %}
<style>
div.gallery {
	margin: 1px;
  border: 1px solid #ccc;
	float: left;
	width: 305px;
  position: relative;
  text-align: center;
}
div.gallery:hover {
  border: 1px solid #777;
}
div.gallery img {
	width: 100%;
  height: auto;
}
div.desc {
  padding: 1px;
  text-align: center;
}
* {
  box-sizing: border-box;
}
.responsive {
  float: left;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.tab {
   overflow: hidden;
   border: 1px solid #ccc;
   background-color: #f1f1f1;
 }
.tab button {
 background-color: inherit;
 float: left;
 border: none;
 outline: none;
 cursor: pointer;
 padding: 14px 16px;
 transition: 0.3s;
 font-size: 17px;
}
.tab button:hover {
 background-color: #ddd;
}
.tab button.active {
 background-color: #ccc;
}
.tabcontent {
 display: none;
 padding: 6px 12px;
 border: 1px solid #ccc;
 border-top: none;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}
.hide-element {
  display: none;
}

</style>

<center>
<h3><b>Tool: {{ meas_tool|title }}</b></h3>
<h3><b>Lot: {{ lot }}</b></h3>
<h3><b>Recipe: {{ recipe }}</b></h3>
<h3><b>Slot: {{ slot }}</b></h3>
<h4><b>Date: {{ date_meas }}</b></h4>
<h4><b>Port: {{ port }}</b></h4>
</center>


{% for target, lot_q in target_dict.items() %}
  <h4><b>Target: {{ target }}</b></h4>
  {% for slot,fov,iprobe,lot,recipe,site_type,site_order,fieldx,fieldy,locx,locy,date,port,cycle,target,measdate, Picture in lot_q %}
    <div class='responsive'>
      <div class="gallery">
          <a target="_blank" href="{{ Picture }}"><font color='white'></font>
            <img src="{{ Picture }}" >
          </a>
        <div class="desc"><b>Target: {{ target }}</b></div>
        <div class="desc"><b>Field:{{ fieldx }},&nbsp; {{ fieldy }}</b></div>
        <div class="desc"><b>FOV: {{ fov }}</b></div>
        <div class="desc"><b>Wafer Location (x,y): {{ locx }}&nbsp;,&nbsp;{{ locy }}</b></div>
        <div class="desc"><b>Iteration at Target: {{ cycle }}</b></div>
        <div class="desc"><b>{{ date.strftime('%Y-%m-%d %H:%M') }}</b></div>
      </div>
    </div>
  {% endfor %}
  <div class="clearfix"></div>
{% endfor %}


<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
document.getElementById("defaultOpen").click();


</script>

{% endblock %}
